<div class="logout__container">
    <div class="logout__card">
        <div class="card">
            <div class="card__header">
                <h1 class="card__title">
                    Odhlásenie
                    <fa-icon [icon]="faKey" class="fa-1x"></fa-icon>
                </h1>
            </div>
            <div class="card__body">
                <h3 class="card__title">
                    Naozaj sa chcete odhlásiť? 
                </h3>
                <button
                    class="button button--success"
                    (click)="logout()"
                >
                    Odhlásiť sa
                </button> 
            </div>
        </div>
    </div>
</div>
