<div class="dashboard">
    <div class="dashboard__header">
        <h1 class="dashboard__title">Reštaurácie</h1>
    </div>
    <div class="dashboard__body">
        <div
            class="dashboard__list"
        >
            <div
                class="dashboard__item"
                *ngFor="let item of restaurants"
                @fade
            >
                <div class="card">
                    <a
                        class="card__link"
                        routerLink="/restaurant/{{ item._id }}"
                    >
                        <div class="card__image">
                            <img class="image" src="../../assets/modern-restaurant-facade.jpg" alt="restaurant facade" />
                        </div>
                        <div class="card__header">
                            <h1 class="card__title">
                                {{ item.name }}
                            </h1>
                        </div>
                        <div class="card__body">
                            <div class="card__location">
                                <fa-icon [icon]="faMapMarkerAlt" class="fa-1x"></fa-icon>
                                {{ item.location }}
                            </div>
                            <div class="card__description">
                                {{ (item.description | slice:0:100) + '...'  }}
                            </div>
                        </div>
                    </a>
                </div>
            </div> 
        </div>
    </div>
</div>