.restaurant {
    max-width: 60%;
    margin: 0 auto;
    margin-top: 2em;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);

    &__image {
        position: relative;
        padding: 0 5px;
        text-align: right;

        &:before {
            display: block;
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            right: 0;
            background:
                linear-gradient(45deg, hsla(190, 95%, 43%, 1) 0%, hsla(190, 95%, 43%, 0) 70%),
                linear-gradient(135deg, hsla(219, 93%, 48%, 1) 10%, hsla(219, 93%, 48%, 0) 80%),
                linear-gradient(225deg, hsla(293, 93%, 48%, 1) 10%, hsla(293, 93%, 48%, 0) 80%),
                linear-gradient(315deg, hsla(130, 96%, 45%, 1) 100%, hsla(130, 96%, 45%, 0) 70%);
            opacity: 0.6;
            z-index: 1;
            clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
            border-top-left-radius: 0.75em;
            border-top-right-radius: 0.75em;
        }

        .image {
            width: 100%;
            border-top-left-radius: 0.75em;
            border-top-right-radius: 0.75em;
            clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
        }
    }

    &__header {
        text-align: center;
    }

    &__body {
        padding: 1em;
        display: flex;
        flex-direction: column;

    }

    &__description {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 1.5em;

        .description {

            &__left-quotes {
                padding-right: 0.5em;
            }

            &__text {
                font-size: 1.1em;
            }

            &__right-quotes {
                padding-left: 0.5em;;
            }
        }
    }

    &__location {
        display: flex;
        flex-direction: column;
        align-items: center;

        .location {

            &__marker {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                padding: 0.5em;
                margin-bottom: 0.25em;
                color: #fff;
                border-radius: 50%;
                box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
                background: rgb(2,0,36);
                background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
            }

            &__name {
                font-size: 1.5em;
            }
        }
    }

    &__owner {
        display: flex;
        flex-direction: column;
        align-items: center;

        .owner {

            &__icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                padding: 0.5em;
                color: #fff;
                margin-bottom: 0.25em;
                border-radius: 50%;
                box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
                background: rgb(2,0,36);
                background: linear-gradient(90deg, rgb(66, 5, 5) 0%, rgba(224,51,23,1) 36%, rgba(255,216,0,1) 100%); 
            }

            &__name {
                font-size: 1.5em;
            }
        }
    }

    &__rating {
        display: flex;
        flex-direction: column;
        align-items: center;

        .rating {
            &__icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                padding: 0.5em;
                color: #fff;
                margin-bottom: 0.25em;
                border-radius: 50%;
                box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
                background: rgb(250,210,55);
                background: linear-gradient(90deg, rgba(250,210,55,1) 38%, rgba(236,247,0,1) 80%); 
            }

            &__value {
                font-size: 1.5em;
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 1em;
    }

    &__reviews {
        margin-top: 1em;

        .reviews {

            &__list {
                display: flex;
                flex-direction: column;
            }

            &__item {
                display: flex;
                flex-direction: row;
                align-items: center;
                background: rgb(13,0,92);
                background: linear-gradient(90deg, rgba(13,0,92,1) 17%, rgba(60,97,176,1) 69%); 
                box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
                border-radius: 0.5em;
                color: #fff;
                padding: 0.75em;
                margin-bottom: 0.75em;

                .item {

                    &__user {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-right: 1.5em;
                        text-align: center;

                        .user {
                            &__gravatar {
                                margin-bottom: 0.5em;
                            }

                        }
                    }

                    &__rating {
                        display: flex;
                        flex-direction: column;

                        .rating {

                            &__stars {
                                display: flex;
                                flex-direction: row;
                                margin: 0.5em 0;

                                .star {
                                    color: rgb(252, 214, 0);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}